# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
/media
/staticfiles

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Fichiers sensibles
serviceAccountKey.json
input/serviceAccountKey.json
firebase_credentials/
.env
.env.local

# Fichiers Excel temporaires (exports)
media/exports/*.xlsx
media/exports/*.xls
scripts_manager/scripts/exports/*.xlsx

.env
